:root{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




body{
  /* background-image: url("../Images/vanishing-stripes.svg"); */
  color:#d1d7e0;
  background-color: #2d283e;
  font-family: "Poppins", "sans-serif";

  
}

.box::before {
  /* box-shadow: 0 2rem 2rem #6e22a3; */
    border-radius: 0.5rem;
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #802bb1; /* Color of the trickling effect */
    transition: height 0.5s ease; /* Transition for height change */
  }
  
  .box:hover::before {
    height: 100%; /* Expand the height to cover the whole box */
    
  }

  .loader {
    border: 8px ridge #f3f3f3;
    border-top: 8px solid #6e22a3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

 